.chat {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.chat__left,
.chat__right {
  flex: 3 !important;
}
.chat__main {
  min-width: 50%;
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: lavender;
  position: relative;
}
.chat__main__header,
.chat__main__footer {
  position: fixed;
  min-width: calc(200% / 3 - 32px);
  backdrop-filter: blur(20px);
  z-index: 3;
  box-shadow: 0px 0px 5px #00000020;
}
.chat__main__body {
  display: flex;
  flex-direction: column;
  padding: 10vh 2% 0;
  z-index: 2;
  height: 82vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.chat__main__header {
  top: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chat__main__footer {
  bottom: 0;
  min-height: 9vh;
  z-index: 2;
}
.chat__main__footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 5px 0;
}
@media screen and (max-width: 900px) {
  .chat__right {
    display: none;
  }
  .chat__main__header,
  .chat__main__footer {
    width: calc(100% - 56px);
  }
}

@media screen and (max-width: 600px) {
  .chat__left,
  .chat__main {
    position: absolute;
    width: 100%;
    background-color: aliceblue;
    z-index: 3;
  }

  .chat__main__header {
    top: 56px;
  }
}
