.content {
  background-color: #15182f;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-width: 400px;
  overflow: hidden;
}
.content__main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #123;
}
.content__main-image img {
  width: 80%;
  height: 55vh;
  object-fit: cover;
  padding: 2%;
  filter: drop-shadow(0px 3px 5px #000);
  max-width: 100%;
}
.content__main-text {
  padding: 2% 17%;
  text-align: justify;
  white-space: pre;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content__related-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.content__related-image img {
  width: 20%;
  height: 100%;
  user-select: none;
  filter: drop-shadow(0px 0px 2px #000);
  margin: 5px;
  cursor: pointer;
  object-fit: cover;
  max-width: 100%;
}
@media screen and (max-width: 1100px) {
  .content__main-image img {
    width: 80%;
    height: 40vh;
  }
}
