.avatar {
  width: 100%;
  min-height: 50px;
  background-color: var(--color-black);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5%;
  cursor: pointer;
}
.avatar__image {
  color: white;
  background-color: #0088cc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.avatar__image-offline {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
  bottom: 0;
  right: 0;
  border: 2px solid #fff;
}
.avatar__image-online {
  background-color: green;
}

.avatar__image img {
  width: 50px;
  border-radius: 50%;
  margin: auto;
  box-shadow: var(--shadow);
  border: 2px solid transparent;
  object-fit: cover;
  user-select: none;
}

.avatar__info {
  flex: 6;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.avatar__info-name {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}
.avatar__info-text {
  font-size: 0.9rem;
  font-weight: lighter;
  color: #ccc;
}
.avatar__info-text,
.avatar__info-name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .chat__main-side {
    display: none;
  }
  .avatar {
    display: flex;
    flex-direction: column;
  }
  .avatar__info {
    display: none;
  }
  .avatar__image img {
    margin: auto;
  }
  .input {
    width: 66.6% !important;
  }
}
@media screen and (max-width: 676px) {
  .input {
    width: 100% !important;
  }
  .App__side {
    display: none;
  }
}
