.input {
  position: fixed;
  bottom: 0;
  background-color: #1e1c21;
  width: 44.5%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}
.input__file,
.input__send {
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.input__text {
  flex: 8;
  display: flex;
  justify-content: center;
}

.input__text textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: #f8f8f8;
  color: #123;
  height: max-content;
  z-index: 2;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}
.input__text textarea::placeholder {
  color: #123;
}
.input__file-manage {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  opacity: 0;
}
